@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Russo+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Red Hat Display", sans-serif;
  text-transform: uppercase;
  background-color: black;
  color: whitesmoke;
  cursor: crosshair;
}

a,
a:hover,
button,
button:hover {
  cursor: crosshair;
}

/* Slider  */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.5px;
  border-radius: 9999px;
  background: color-mix(in srgb, currentColor 30%, transparent);
  cursor: pointer;
  transition: background 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: currentColor;
  opacity: 80%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

input[type="range"]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: currentColor;
  opacity: 80%;
  cursor: pointer;
  transition: transform 0.3s ease;
}

input[type="range"]:hover::-webkit-slider-thumb {
  transform: scale(1.1);
}

input[type="range"]:hover::-moz-range-thumb {
  transform: scale(1.1);
}
