@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Zalando Sans Expanded", sans-serif;
  text-transform: uppercase;
}

body,
header,
select {
  transition: background-color 300ms ease, color 300ms ease;
}

html.dark body,
html.dark header,
html.dark select {
  background-color: #1f1f1f;
  color: #f5f5f5;
}

html.dark .no-toggle,
html.dark .no-toggle * {
  color: initial !important;
}
